<div class="container">
  <% if flash[:notice].present? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <h1 class="text-4xl font-bold">Create New Short URL</h1>

  <%= form_with(model: @url, data: { turbo: false } ) do |f| %>
    <div class="flex flex-col">
      <%= f.label :original_url, class: "font-bold" %>
      <%= f.text_field :original_url, class: "input" %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Short URL', class: "save-btn" %>
    </div>
  <% end %>
</div>